{
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "vue/html-closing-bracket-newline": ["error", {
      "singleline": "never",
      "multiline": "always"
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
